.modalBackground {
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.modalContainer {
width: 500px;
height: 300px;
border-radius: 12px;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
flex-direction: column;
padding: 25px;
margin: 50px 0 0 0;
}

.modalContainer .title {
display: inline-block;
}

.modalContainer .body {
flex: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.7rem;
text-align: center;
}
.modalContainer .footer {
flex: 20%;
display: flex;
justify-content: center;
align-items: center;
margin: 20px 0;
}
.modalContainer .footer button {
height: 27px;
margin: 10px;
border: none;
color: white;
border-radius: 8px;
font-size: 20px;
cursor: pointer;
}

#cancelBtn {
background-color: crimson;
}
h4.logout-head {
margin: 10px 0 30px 10px;
font-size: 25px !important;
}
.img-logout.col {
text-align: center;
}
.col-log.col {
margin: 30px 0 0 0;
}
p.log-text {
text-align: center;
}
.btn-content.row {
display: flex;
}
.btn-content.row {
display: flex;
align-items: center;
margin-left: 23%;
}
button.btn.btn-outline-secondary {
border-radius: 20px;
opacity: 1;
text-align: center;
padding: 5px 40px;
font-size: 11px;
color: #6c757d;
border: 1px solid #6c757d;
cursor: pointer;
}
a.btn.btn-secondary {
margin: 0px 0 0 20px;
background: #2D5986 0% 0% no-repeat padding-box;
border-radius: 20px;
color: #fff;
opacity: 1;
text-align: center;
padding: 5px 40px;
font-size: 11px;
text-decoration: none;
}